.button-add {
    width: 75%
}

.button-remove {
    width: 75%;
    padding-left: 0.8em !important;
    padding-right: 0.8em !important;
    margin-left: 0.8em !important;
    margin-right: 0.8em !important;
}

.dropdown-favourites {
    background-color: #f9fafb !important;
}

.user-icon {
    margin-left: 0.5em !important;
}

.cost-estimate-label {
    float: right;
    margin-top: 0.2em !important;
    color: royalblue !important
}

.cost-estimate-currency {
    font-size: 0.75em;
}

.contract-address-column {
    display: flex;
    align-items: center;
}

.ui.popup div {
    max-width: 45em !important;
    overflow: auto;
}

.cursor-pointer {
    cursor: pointer !important;
}

.sorting-icon {
    background-color: transparent !important;
    font-size: 0.8rem !important;
}

.dropdown-filters {
    background: rgb(239, 242, 245);
    border-radius: 50vh;
    padding: 8px 16px;
    font-size: x-small;
    font-weight: bold;
    margin: 0px 5px;
}

.dropdown-filters-filtered {
    background: rgb(128, 129, 131);
    border-radius: 50vh;
    padding: 8px 16px;
    font-size: x-small;
    font-weight: bold;
    margin: 0px 5px;
}

.dropdown-filters__menu__button {
    border-radius: 50vh !important;
}