.regular {
    margin-bottom: 20px !important; 
    height: 50px
}

.analytics {
    margin-bottom: 5px !important;
    height: 20px;
    text-align: center;
}

.chart-info {
    display: flex;
    margin-left: 3rem;
}

.inspect {
    margin-top: 2rem !important;
    height: 40px;
    padding-left: 10px !important;
}