.cost-estimation-registry {
  float: right;
  display: flex;
  align-items: center
}

.error-registry-add {
  color: red !important
}

.table-status-add {
  text-align: -webkit-center;
}

.cost-estimate-label-registry {
    float: left;
    margin-top: 0.2em !important;
    color: royalblue !important
}

.smart-contracts {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.smart-contracts__icon {
  width: 50px !important;
}

.smart-contracts-legend__icon {
  width: 25px !important;
}

.domain-explore {
  width: 180px !important;
  font-weight: bold !important;
}

