.buttonAddRemove {
    width: 9em;
}

.dropdownFavourites {
    background-color: #f9fafb !important;
}

.userIcon {
    margin-left: 0.5em !important;
}

.costEstimateLabel {
    float: right;
    margin-top: 0.2em !important;
    color: royalblue !important
}

.costEstimateCurrencyETH {
    font-size: 0.75em;
}