.headerFAQ {
    text-align: -webkit-center;
    font-size: 3em !important;
    margin-bottom: 1.5em !important;
}

.headerGridFAQIcon {
    text-align: center;
}

.headerGridFAQText {
    padding-top: 1em !important
}



