.cost-estimation-registry {
  float: right;
  display: flex;
  align-items: center
}

.error-registry-add {
  color: red !important
}

.table-status-add {
  text-align: -webkit-center;
}

.cost-estimate-label-registry {
    float: left;
    margin-top: 0.2em !important;
    color: royalblue !important
}