.frame{
    width: 100% !important;
    height: 74.92% !important;
    -webkit-transform: scale(1.3);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    zoom: 0.5;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
}

.iframe-container {
    width: 1065px;
    height: 580px;
    overflow: hidden;
}