// OVERWRITE FILE src\landingPage\assets\scss\core\layout\_main.scss

$palette: (
	light: (
		1: #ECEDED,
		2: #9CA9B3,
		3: #717D86
	),
	dark: (
		1: #151719,
		2: #25282C,
		3: #33363A
	),
	primary: (
		1: #6163FF,
		2: #ACADFF,
		3: #5658DD,
		4: #E9E9FF
 	),
	secondary: (
		1: #24E5AF,
		2: #73EFCC,
		3: #1CB68B,
		4: #D2F9EE
	),
	alert: (
		error: #FF6171,
		warning: #FFA173,
		success: #24E5AF
	)
);

// --------------------------------------------------------------------
// Output Bg Color ----------------------------------------------------
// Usage: color-bg(code) ----------------------------------------------
// --------------------------------------------------------------------
@function color-bg($elem) {
	@return map-get($bg--color, $elem);
}

// --------------------------------------------------------------------
// Retrieve Colors ----------------------------------------------------
// Usage: get-color(dark, 1) ------------------------------------------
// --------------------------------------------------------------------
@function get-color($elem, $variant) {
	@return map-get(map-get($palette, $elem), $variant);
}

$bg--color: (
	body: 			get-color(dark, 1),
	body-shadow:	0 20px 48px rgba(get-color(dark, 1), .8),	// body shadow when a boxed layout is used (set to null if don't want a shadow)
	body-outer:		lighten(get-color(dark, 1), 2%),			// outer bg color when a boxed layout is used
	bg-color: 		lighten(get-color(light, 1), 9%),			// .has-bg-color helper class
	shadow: 		0 24px 64px rgba(get-color(dark, 1), .64),	// .has-shadow helper class
	code: 			darken(get-color(dark, 1), 3%),
	code-inverse:	darken(get-color(dark, 1), 3%),
	check-checked-inverse:	darken(get-color(dark, 1), 3%)
);

$container--width-boxed: 		1440px;		// boxed container width
$container--width: 				1080px;		// container width
$container--width-sm:			896px;		// container sm width
$container--width-xs: 			620px;		// container xs width
$container--padding__mobile:	16px;		// container, left and right padding (mobile)
$container--padding__desktop:	24px;		// container, left and right padding (desktop)



.is-boxed {
    background: color-bg(body-outer);

	.body-wrap {
		max-width: $container--width-boxed;
	    margin: 0 auto;
	    box-shadow: color-bg(body-shadow);

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// background: color-bg(body);
			background: #151719;
			z-index: -10;
		}
	}
}

.body-wrap {
	position: relative;
    overflow: hidden;
    // Sticky footer
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1 0 auto;
}